<form action="/cart" method="post">
    <% if (isAuthenticated) { %>
        <div class="quantity buttons_added card__actions">
            <h4> number of tickets: </h4>
            <input type="button" value="-" class="minus">
            <input type="number" step="1" min="0" name="quantity" max="<%= flight.numOfSeats%>" id="quantity" value="0"
                title="Qty" class="input-text qty text" size="4">
            <input type="button" value="+" class="plus">

        </div>
        <% }%>
            <div class="card__actions">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit" style="background-color:#298499;">Add to Cart</button>
                <input type="hidden" name="flightId" value="<%= flight._id %>">

            </div>
</form>