<form action="/cart" method="post">

    <div class="quantity buttons_added ">
        <h4> number of tickets: </h4>
        <input type="button" value="-" class="minus">
        <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text"
            size="4">
        <input type="button" value="+" class="plus">

    </div>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="flightId" value="<%= flight._id %>">
</form>