<div class="footer-link padding-top--24">
  <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
    <span><a href="/">© TravelAgency </a></span>
    <span><a href="#">Contact </a></span>
    <span><a href="#">Privacy & terms </a></span>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="/js/quantityBox.js"></script>
</body>

</html>