@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.flight-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.flight-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    border-radius: 10px;
}

.flight__title {
    font-size: 25px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.flight__price {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin-bottom: 0.5rem;
}

.flight__description {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;

}