@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 75rem;
  position: absolute;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid #00B4CC;
  margin-right: 1rem;
  padding: 5px;
  height: 2rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #000000;
}

.searchTerm-radio {
  display: flex;
  align-items: center;
}


.searchTerm:focus {
  color: #000000;
}

.searchButton {
  width: 5rem;
  height: 2rem;
  border: 1px solid #00B4CC;

  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 60rem;
  position: absolute;
  top: 2rem;
  left: 40rem;
  transform: translate(-50%, -50%);
}


label {
  font: 1rem 'Fira Sans', sans-serif;
  text-align: center;
}


.sort {
  position: absolute;
  left: 85rem;
  top: 2rem;
  z-index: 1;

}